* {
	box-sizing: border-box;
}
body,
html {
	height: 100%;
}
body {
	background-color: #000000;
	color: #ffffff;
}
h3 {
	font-family: 'Playfair Display';
	margin: 0 0 10px;
}
.field-box {
	border: 2px solid #888181;
	float: left;
	margin-bottom: 5px;
}
.field {
	position: relative;
	width: 1280px;
	height: 700px;
}
.field .tile {
	background-size: 32px;
	background-image: url(../images/trash/tile-.png);
	z-index: 5;
}
.tileW {
	background-image: url(../images/textures/Wall.png);
	background-repeat: repeat;
	background-size: 32px;
	position: relative;
}
.field .tileE {
	background-image: url(../images/trash/tile-E.png);
	z-index: 10;
}
.field .tileP {
	background-image: url(../images/trash/tile-P.png);
	z-index: 10;
}
.field .tileHP {
	background-image: url(../images/trash/tile-HP.png);
	z-index: 9;
}
.field .tileSW {
	position: relative;
	background-image: url(../images/trash/tile-SW.png);
	z-index: 9;
}
.health {
	background-color: #ff0000;
	z-index: 111;
	position: absolute;
	left: 0px;
	top: 0px;
	height: 3px;
	width: 100px;
}
.playerHealth {
	background-color: #00ff00;
	z-index: 11;
	position: absolute;
	left: 640px;
	top: 345px;
	height: 3px;
}
.inventory-box {
	border: 2px solid #888181;
	float: left;
	padding: 10px;
	color: chartreuse;
	background-image: url('../images/trash/tile-.png');
	background-repeat: repeat;
	background-size: contain;
}
.inventory {
	position: relative;
	width: 1260px;
	min-height: 72px;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	margin: 0;
	padding: 0;
}
.cl {
	clear: both;
	display: block;
}

.entities {
	width: 32px;
	position: absolute;
	margin: 0;
	padding: 0;
}